<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="name" placeholder="Enter your Chess.com username">
    <!-- Enter year -->
    <input type="text" id="year" placeholder="Enter year">
    <!-- Enter month as a dropdown -->
    <select id="month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <button onclick="getGames()">Get Stats</button>
    <script>
        function getGames() {
            window.location.href = "/games/" + document.getElementById("name").value + "/" + document.getElementById("year").value + "/" + document.getElementById("month").value;
        }
    </script>
</body>
</html>